.container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/Screenshot 2023-12-08 234129.png');
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    height: 57.5vh;
    width: 27.5vw;
    border-radius: 20px;
    border: 1px solid rgb(73, 72, 72);
    display: flex;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(20px);
}

.wrapper > h2{
    color: #dcdbe2;
    text-align: center;
    margin: 2.5rem 0;
    font-size: 36px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

form > input{
    width: 50%;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    background-color: transparent;
    color: #fff;
    font-size: 20px;
}

form>input::placeholder{
    color: #c2c0c0;
}

form > label{
    align-self: center;
    width: 50%;
    cursor: pointer;
    transition: 150ms all;
    display: flex;
    align-items: center;
    gap: 12px;
}

form > label:hover{
    color: #fff;
}

form>button{
    outline: none;
    background-color: blue;
    color: #fff;
    border-radius: 12px;
    padding: 0.5rem 1.25rem;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.3s;
    margin-top: 3.5rem;
}

form>button:hover{
    background-color: #fff;
    border-color: blue;
    color: blue;
    transform: scale(1);
}

form > p{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 150ms all;
}

a:hover{
    color: #000;
}

@media only screen and (max-width: 992px) {
    .wrapper {
        height: 60vh;
        width: 30vw;
    }
}


@media only screen and (max-width: 768px) {
    .wrapper {
        height: 65vh;
        width: 40vw;
    }
}
